html ::-webkit-scrollbar {
  display: none;
}
html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.active {
  color: #1890ff !important;
  text-decoration: underline;
}
.login-container {
  min-height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-wrapper {
  width: 20rem;
}
.category-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.category-form-wrapper {
  width: 13rem;
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  font-size: "100px";
  color: blue;
}
.category-list {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(193, 220, 245);
  padding: 10px 15px;
  margin-top: 20px;
  border-radius: 5px;
}
.ProseMirror {
  height: 300px;
  padding: 15px 28px;
  overflow: scroll;
  background-color: rgb(219, 244, 245);
  border: 1px solid gray;
  border-radius: 5px;
}
.create-post-wrapper {
  width: 50vw;
}
.editor-scroll ::-webkit-scrollbar {
  display: none;
}
.editor-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.ant-modal-body {
  min-height: 30vh;
  overflow: scroll;
}
